    /*General attribute*/
    
     :root {
        --color-blue: #0065FC;
        --color-light-blue: #DEEBFF;
        --color-black: #000000;
        --color-grey: #F2F2F2;
        --color-white: #FFFFFF;
        --color-transparent: rgba(255, 255, 255, .4);
    }
    
    * {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2;
        /*color: var(--color-black);*/
    }
    
    h1,
    h2 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.4;
    }
    
    h3 {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
    }
    
    a {
        color: var(--color-black);
        text-decoration: none;
        cursor: pointer;
    }
    
    .fas {
        font-size: 1.25rem;
        color: var(--color-black);
    }
    
    .nav__section,
    .search__section,
    .hosting__section,
    .Activity__section,
    .Footer__section {
        padding: 0rem 2.5vw;
        width: 95vw;
    }
    /*Header section*/
    
    #nav__logo {
        justify-self: start;
        padding-top: 40px;
        min-width: 97px;
        min-height: 45px;
    }
    
    .nav__section {
        margin-bottom: 2rem;
    }
    
    .nav__wrapper {
        display: grid;
        grid-template-columns: 1fr repeat(3, 160px);
        align-items: center;
        justify-content: center;
    }
    
    .nav__link {
        padding-top: 50px;
        padding-bottom: 16px;
        text-align: center;
        color: var(--color-black);
    }
    
    #nav__link--dif {
        padding-top: 50px;
        padding-bottom: 16px;
        font-weight: 600;
        text-align: center;
        color: var(--color-blue)
    }
    
    .nav__link:hover {
        padding-top: 46px;
        color: var(--color-blue);
        border-top: 4px solid #0065FC;
    }
    
    #nav__link--dif:hover {
        padding-top: 46px;
        border-top: 4px solid #0065FC;
    }
    /* Search section */
    
    .search__section {
        margin-bottom: 2rem;
    }
    
    .search__header {
        margin-bottom: 1rem;
    }
    
    .search__header__title {
        margin-bottom: 0.25rem;
    }
    
    .search__subtitle {
        margin: 0px;
    }
    
    .search__form {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .search__form__wrapper--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 3rem;
        min-height: 3rem;
        background-color: var(--color-grey);
    }
    
    .search__form__wrapper--icon--left {
        border-radius: 1rem 0rem 0rem 1rem;
    }
    
    .search__form--input {
        padding: 0rem 1rem;
        width: 235px;
        height: 2.9rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.2;
        border-top: 1px solid var(--color-grey);
        border-right: none;
        border-bottom: 1px solid var(--color-grey);
        border-left: none;
    }
    
    .search__form--input::placeholder {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.2;
        color: var(--color-black);
    }
    
    .search__form__search--button {
        position: relative;
    }
    
    .search__form--button {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
        color: var(--color-white);
        background-color: var(--color-blue);
        width: auto;
        padding: 0rem 1rem 0rem 1rem;
        height: 3rem;
        border-radius: 0rem 1rem 1rem 0rem;
        border: none;
    }
    
    .search__form__hidden {
        display: none;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -1.5rem;
        left: -3rem;
        background-color: var(--color-white);
        border-radius: 1rem 0rem 0rem 1rem;
    }
    
    .search__form__wrapper--icon--right {
        display: none;
        position: absolute;
        top: -1.5rem;
        left: -3rem;
        background-color: var(--color-blue);
        border-radius: 1rem;
        cursor: pointer;
    }
    
    .fa-search {
        color: var(--color-white);
    }
    /* Filters Zone */
    
    .search__filter {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .search__filter-title {
        margin-right: 1rem;
    }
    
    .search__filters {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 2rem;
    }
    
    .search__filter-elements {
        display: flex;
        align-items: center;
        width: auto;
        height: 3rem;
        background-color: var(--color-white);
        border: 2px solid var(--color-grey);
        border-radius: 1.5rem;
        transition-duration: 0.5s;
        cursor: pointer;
    }
    
    .search__filter-elements:hover {
        background-color: var(--color-light-blue);
        border: 2px solid var(--color-light-blue);
    }
    
    .search-filter__wrapper-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        position: relative;
        min-width: 3rem;
        min-height: 3rem;
        z-index: 1;
        background-color: var(--color-light-blue);
        border: 2px solid var(--color-light-blue);
        border-radius: 3rem;
    }
    
    .fa-money-bill-wave,
    .fa-child,
    .fa-dog,
    .fa-heart {
        color: var(--color-blue);
    }
    
    .search__filter-name {
        padding: 0rem 0.75rem;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
    }
    
    .search__proposition {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .fa-info {
        color: var(--color-blue);
        font-size: 1rem;
    }
    
    .search__proposition__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.75rem;
        min-width: 1.5rem;
        min-height: 1.5rem;
        border: 2px solid var(--color-grey);
        border-radius: 1.5rem;
        cursor: pointer;
    }
    /*Hosting Section*/
    
    .hosting__section {
        margin-bottom: 3rem;
    }
    
    .hosting__display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5vw;
    }
    
    .hosting__wrapper {
        grid-area: 1 / 1 / 2 / 3;
        padding: 2rem 2.5vw;
        background-color: var(--color-grey);
        border-radius: 1.5rem;
    }
    
    .hosting__section__title {
        margin-bottom: 2.5rem;
    }
    
    .hosting__boxs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 2rem;
    }
    
    .hosting__box {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: 1.5rem;
        border: 5px solid var(--color-white);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
    }
    
    .hosting__box:hover {
        transform: scale(1.05)
    }
    
    .hosting__box__img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    .hosting__box__descrp {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }
    
    .hosting__box__descrp__title,
    .hosting__box__descp__cont {
        margin-bottom: 0.5rem;
    }
    
    .hosting__box__descp__price {
        font-weight: 600;
    }
    
    .fa-star {
        font-size: 0.75rem;
    }
    
    .fa-star--activate {
        color: var(--color-blue)
    }
    
    .fa-star--deactivate {
        color: var(--color-grey);
    }
    
    .hosting__section__view-more {
        margin-top: 3rem;
    }
    /*Most popular section*/
    
    .most-popular__wrapper {
        grid-area: 1 / 3 / 2 / 4;
        padding: 2rem 2.5vw 2rem 2.5vw;
        background-color: var(--color-grey);
        border-radius: 1.5rem;
    }
    
    .most-popular__header {
        display: grid;
        grid-template-columns: 1fr 1.25rem;
        margin-bottom: 2rem;
    }
    
    .most-popular__header__title {
        margin-bottom: 0px;
    }
    
    .most-popular__wrapper--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .fa-chart-line {
        margin-bottom: 0px;
    }
    
    .most-popular__boxs {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 2rem;
    }
    
    .most-popular__box {
        display: flex;
        flex-direction: row;
        height: 144px;
        background-color: var(--color-white);
        border-radius: 1.5rem;
        border: 5px solid var(--color-white);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
        cursor: pointer;
    }
    
    .most-popular__box:hover {
        transform: scale(1.05);
    }
    
    .most-popular__box__img {
        width: 9vw;
        object-fit: cover;
        flex-direction: column;
        justify-content: space-between;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    .most-popular__descp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.5rem 1rem;
    }
    
    .most-popular__descp__title {
        margin-bottom: 0.5rem;
    }
    
    .most-popular__descp__cont {
        height: 3.75rem;
    }
    
    .most-popular__descp__price {
        font-weight: 600;
    }
    /*Activity section*/
    
    .Activity__section {
        margin-bottom: 3rem;
    }
    
    .Activity__header__title {
        margin-bottom: 2rem;
    }
    
    .Activity__boxs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2.5vw;
        grid-row-gap: 2rem;
    }
    
    .Activity__box {
        display: flex;
        justify-content: center;
        border-radius: 1.5rem;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
    }
    
    .Activity__box:hover {
        transform: scale(1.05);
    }
    
    .Activity__box--1st {
        grid-area: 1/ 1/ 3/ 2;
    }
    
    .Activity__box--2nd {
        grid-area: 1/ 2/ 2/ 3;
    }
    
    .Activity__box--3rd {
        grid-area: 2/ 2/ 3/ 3;
    }
    
    .Activity__box--4rth {
        grid-area: 1/ 3/ 3/ 4;
    }
    
    .Activity__box--5th {
        grid-area: 1/ 4/ 2/ 5;
    }
    
    .Activity__box--6th {
        grid-area: 2/ 4/ 2/ 5;
    }
    
    .Activity__box__img {
        width: 100%;
        height: 11rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    .Activity__box__img--big {
        height: 27.5rem;
    }
    
    .Activity__box__name {
        padding: 1rem;
    }
    /*Footer section*/
    
    .Footer__section {
        background-color: var(--color-grey);
    }
    
    .Footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 0rem;
    }
    
    .Footer__col__title {
        padding-bottom: 1rem;
    }
    
    .Footer__col__items {
        padding-bottom: 1rem;
    }
    /*Responsive part*/
    /*General*/
    
    @media screen and (max-width: 768px) {
        .search__section,
        .hosting__section,
        .Activity__section,
        .Footer__section {
            padding: 0rem 5vw;
            width: 90vw;
        }
    }
    /*Navi section*/
    
    @media screen and (max-width: 768px) {
        .nav__section {
            margin-bottom: 1rem;
            padding: 0rem 0vw;
            width: 100vw;
        }
        .nav__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        #nav__logo {
            grid-area: 1/ 1/ 2/ 2;
            padding-left: 5vw;
        }
        .nav__link {
            padding: 1rem;
            border-bottom: 2px solid var(--color-grey);
        }
        .nav__link:hover {
            padding-top: 1rem;
            color: var(--color-blue);
            border-top: 0px;
            border-bottom: 2px solid var(--color-blue);
        }
        #nav__link--dif {
            grid-area: 1/ 2/ 2/ 3;
            order: 2;
            justify-self: end;
            padding-right: 5vw;
        }
    }
    /*Search section*/
    
    @media screen and (max-width:1018px) {
        .search__header {
            margin-right: 0px;
            margin-bottom: 1rem;
        }
        .search__filter {
            flex-direction: column;
            align-items: flex-start;
        }
        .search__filters {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-row-gap: 1rem;
        }
    }
    
    @media screen and (max-width: 768px) {
        .search__header {
            margin-bottom: 2rem;
        }
        .search__form--input {
            width: 210px;
            padding: 0rem 4rem 0rem 1rem;
        }
        .search__form--button {
            display: none;
            z-index: -1;
        }
        .search__form__hidden {
            display: flex;
            z-index: 1;
            border-bottom: 1px solid var(--color-white);
        }
        .search__form__wrapper--icon--right {
            display: flex;
            z-index: 2;
            border-bottom: 1px solid var(--color-blue);
        }
    }
    
    @media screen and (max-width: 600px) {
        .search__form--input {
            width: 160px;
        }
        .search__header {
            align-items: flex-start;
        }
        .search__filter {
            align-items: flex-start;
        }
        .search__filter-title {
            margin-right: 0px;
            margin-bottom: 1rem;
        }
        .search__filters {
            grid-column-gap: 0.5rem;
            justify-content: flex-start;
        }
        .search__proposition {
            justify-content: flex-start;
        }
    }
    /*hosting section*/
    
    @media screen and (max-width: 1230px) {
        .hosting__display {
            display: flex;
            flex-direction: column-reverse;
        }
        .hosting__wrapper {
            padding: 2rem 0vw 0rem 0vw;
            background-color: var(--color-transparent);
        }
        .hosting__section__view-more {
            margin-top: 2rem;
        }
    }
    
    @media screen and (max-width: 480px) {
        .hosting__boxs {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 0vw;
            grid-row-gap: 0.5rem;
        }
    }
    /*Popular section*/
    
    @media screen and (max-width: 1230px) {
        .most-popular__wrapper {
            margin-left: -2.5vw;
            width: 95vw;
            border-radius: 0px;
        }
        .most-popular__header,
        .most-popular__boxs {
            padding: 0rem 2.5vw;
        }
        .most-popular__boxs {
            grid-row-gap: 0.5rem;
        }
        .most-popular__box__img {
            width: 50vw;
        }
    }
    
    @media screen and (max-width: 768px) {
        .most-popular__wrapper {
            margin-left: -5vw;
            width: 95vw;
        }
        .most-popular__header {
            padding: 0rem 2.5vw;
        }
        .most-popular__box__img {
            width: 30vw;
        }
    }
    /*Activity section*/
    
    @media screen and (max-width: 1264px) {
        .Activity__boxs {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        .Activity__box--1st {
            grid-area: 1/ 1/ 2/ 2;
        }
        .Activity__box--2nd {
            grid-area: 1/ 2/ 2/ 3;
        }
        .Activity__box--3rd {
            grid-area: 1/ 3/ 2/ 4;
        }
        .Activity__box--4rth {
            grid-area: 2/ 1/ 3/ 2;
        }
        .Activity__box--5th {
            grid-area: 2/ 2/ 3/ 3;
        }
        .Activity__box--6th {
            grid-area: 2/ 3/ 3/ 4;
        }
        .Activity__box__img--big {
            height: 11rem;
        }
    }
    
    @media screen and (max-width: 500px) {
        .Activity__boxs {
            display: flex;
            flex-direction: column;
        }
        .Activity__box__img {
            height: 9rem;
            width: 100%;
        }
    }
    /*Footer section*/
    
    @media screen and (max-width: 1080px) {
        .Footer__wrapper {
            display: flex;
            flex-direction: column;
            padding: 2rem 0rem 0rem 0rem;
        }
        .Footer__col {
            padding-bottom: 1rem;
        }
        .Footer__col__items {
            padding-bottom: 1rem;
        }
    }